//Components
//specific UI components. 
//This is where the majority of our work takes place and our UI components are often composed of Objects and Components

.c-jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    // margin-bottom: 0 !important;
  }

.c-belgium{
    background-image: url("../img/belgium.jpg");
    background-size: cover;
    background-position: center;
}