//Components
//specific UI components. 
//This is where the majority of our work takes place and our UI components are often composed of Objects and Components
body{
  font-size: 16px;
}

.c-jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    // margin-bottom: 0 !important;
  }

.c-about-image{
  background-image: url("../img/tania2.jpg");
    background-size: cover;
    background-position: center;
}

.c-blog{
    background-image: url("../img/belgium.jpg");
    background-size: cover;
    background-position: center;
}

.card-img-top{
  object-fit: cover !important;
  // max-height: 300px !important;
  object-position: center;
  height: 250px;
}

.c-contact{
  position: relative;
  overflow: hidden;

  &__background{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__overlay{
    position: absolute;
    background-color: rgba($color: #FFD700, $alpha: 0.7);
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &__map{
    pointer-events: none;
    height: 100%;
    z-index: -2;
    // filter: blur(3px);
  }

  &__form{

  }
}