//Components
//specific UI components. 
//This is where the majority of our work takes place and our UI components are often composed of Objects and Components

.c-jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    // margin-bottom: 0 !important;
  }

.c-about-image{
  background-image: url("../img/tania2.jpg");
    background-size: cover;
    background-position: center;
}

.c-blog{
    background-image: url("../img/belgium.jpg");
    background-size: cover;
    background-position: center;
}

.card-img-top{
  object-fit: cover !important;
  // max-height: 300px !important;
  object-position: center;
  height: 250px;
}

// $card-height: 100% !important;