//ELEMENTS
//no classes or ids, only pure html elements go here.

//Elements 
//styling for bare HTML elements (like H1, A, etc.). 
//These come with default styling from the browser so we can redefine them here.

body{
    font-size: $font-size;
    font-family: $font-primary, $font-secondary;
}

a{
    color: black;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

